body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: purple;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 18px;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.restaurants, .cart {
    width: 45%;
    background-color: lightblue;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.restaurant-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: light gray;
}

.restaurant h3 {
    margin: 0;
    cursor: pointer;
    color: #ff6347;
}

.food-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.food-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.food-details h4 {
    margin: 0;
}

.food-details p {
    margin: 5px 0;
}

button.add-to-cart, button.view-foods {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
}

button.add-to-cart:hover, button.view-foods:hover {
    background-color: #218838;
}



.hidden {
    display: none;
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}

.cart-item-details h3 {
    margin: 0 0 5px;
}

.cart-item-details p {
    margin: 2px 0;
}
.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
}

.quantity-controls .quantity {
    font-size: 16px;
    width: 40px;
    text-align: center;
}
