body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color:#C71585;
    color: white;
    text-align: center;
    padding: 20px;
}
h2{
    text-align:center;
}
.restaurant-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restaurant-button:hover {
    background-color: #0056b3;
}

.restaurant-list {
    margin-bottom: 20px;
    display:flex;
    justify-content:center;
}

.restaurant-info {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    max-width: 400px;
   
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#menu {
    width: 60%;
}

.dish {
    background-color:lavender;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dish img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #81007F;
}

#cart {
    width: 30%;
    background-color:lavender;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cartItems {
    list-style-type: none;
    padding: 0;
}

#cartItems li {
    margin-bottom: 10px;
}

#orderConfirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: none;
}

#orderConfirmation img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
